@import url("https://fonts.googleapis.com/css?family=Girassol|Fjalla+One|Noto+Sans|Slabo+27px&display=swap");

.header {
    display: flex;
    justify-content: center;
    max-height: 4rem;
    align-items: center;
    background-color: none;
    width: 100%;
    
  }

.fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* .header > * {
    display: flex;
    font-size: 16px;
    vertical-align: auto;
    height: 50px;
    line-height: 45px;
  } */

.logo {
    display: inline-block;
    width: 5rem;
}

.logo > img {
    width: 100%;
}
.paragraph {
    color: #212529;
}
.navbar {
    /* justify-content: center; */
    display: inline;
    /* vertical-align: center; */
    margin: 0;
    width: 100%;
    height: 100%;
    padding: .5rem 1rem;
}
ul {
    justify-content: right;
    display: flex;
}
li {
    display: inline;
    width: auto;
    font-size: 16px;
    /* color: #fefff7; */
    color: #46484c;
    margin: 1em;
    font-family: "Noto Sans", Verdana, sans-serif;
}
form {
    height: 3rem;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
    /* padding: 5%; */
}

section{
    display: flex;
    align-content: center;
}

main {
    text-align: center;
    margin: 10rem 5rem 5rem 5rem;
}

.section-margin {
    margin: 5rem;
}
.actions {
    /* justify-content: right;
    vertical-align: middle; */
    text-align: right;
}

.actions > * {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .actions a {
    color: #025157;
  }
.actions button {
    color: white;
    background-color: #025157;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
    border-radius: .5rem;
  }

.explanatory-promo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.promo {
    width: 75%;
    margin-left: 5%;
    margin-right: 20%;
    align-items: left;
}
.middlelogo {
    width: 50% ;
    margin-right: 25%;
    margin-left: 25%;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.explanatory-video img {
    width: 40%;
    height: 20%;
}

body{
    background-color: #fffbf7;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
h1{
    color: #025157;
    font-family: "Fjalla One", "Noto Sans";
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
h3{
    color: #46484c;
    font-family: "Slabo 27px", "Noto Sans";
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
h4{
    color: #025157;
    font-family: "Fjalla One", "Noto Sans";
    font-size: 3rem;
    text-align: left;
    margin-bottom: .5rem;
    margin-top: 0;
}
p {
    color: #8b8b8bcc;
    font-family: "Noto Sans";
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
}
input, button{
    height: 100%;
    border-radius: 8px;
    align-items: center;
}
input{
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 40%;
    max-width: 40%;
}
button{
    color: #fffbf7;
    background-color: #025157;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    width: 20%;
    max-width: 25%;
    margin-left: -2em;
}

article {
    align-items: center;
    width: 100%;
    /* margin: 3rem; */
}

.explanatory-video video {
    width: 75%;
    align-items: center;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 5%;
}

figure{
    margin-top: 32px;
}

form.signup-form {
    font-size: 2rem;
  }

  form.signup-form input {
    width: 20rem;
  }

  form.signup-form button {
    width: 10rem;
  }

@media (min-width: 600px){
    html {
        font-size: 100%;
    }
}